body { 
   font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
   font-size: 1.6rem;
   line-height: 1.5;
   text-align: center;
}

#main {
    background-color: rgba(150,150,150,0.2)
 }

 #image { 
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

img { 
    overflow: clip;
}

ul { 
    display: block;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    max-width: 550px;
    font-size: 1.1rem;
}

#headline { 
    font-size: 1.7rem;
}

#title { 
    font-size: 2.2rem;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
}

.start { 
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

#img-caption { 
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}

strong { 
    font-size: 1.1rem;
}

li { 
    font-size: 1rem;
}

.cursiv { 
    font-family: 'Times New Roman', Times, serif;
     max-width: 400px;
     font-size: 1.2rem;
     text-align: left;
     margin : 0 auto 50px auto; 
     display: inline-block;
}

.wikipedia { 
    font-size: 1.5rem;
    font-weight: bold;
}

a { 
    cursor: pointer;
    text-decoration: underline;
}